<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>About Us</h1>
    
    
    <a href="https://data.world/priyankavanmali/employee" target="_blank">Source of the data</a>
    
    <ul>
	<li>Index: 	Refers to the indexing of the data(primary key)</li>
	<li>First 	Name: Refers to the first name of the employee</li>
	<li>Last Name: 	Refers to the last name of the employee</li>
	<li>Gender: 	Refers to the gender of the employee</li>
	<li>Title: 	Refers to the working title of the employee</li>
	<li>Department: Refers to which department the employee is currently working</li>
	<li>Status: 	Refers to the current working status of the employee</li>
	<br> </br>
	<br></br>

 	<p>This website was created by the following individuals:</p>
        <li>Name: Koteshwar Kishore Pedapolu - 0851956</li>
        <li>Name: Pratikkumar Champaneri     - 0836649</li>
        <li>Name: Srikanth Tupili            - 0851448</li>
    </ul>
</body>
</html>
